asgiref==3.3.1
attrs==20.3.0
Automat==20.2.0
beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
constantly==15.1.0
cryptography==3.4.7
cssselect==1.1.0
Django==3.1.7
hyperlink==21.0.0
idna==2.10
importlib-metadata==3.8.1
incremental==21.3.0
irc==19.0.1
itemadapter==0.2.0
itemloaders==1.0.4
jaraco.classes==3.2.1
jaraco.collections==3.2.0
jaraco.functools==3.3.0
jaraco.logging==3.1.0
jaraco.stream==3.0.2
jaraco.text==3.5.0
jmespath==0.10.0
lxml==4.6.3
more-itertools==8.7.0
newrelic==6.2.0.156
parsel==1.6.0
Protego==0.1.16
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
PyDispatcher==2.0.5
pyOpenSSL==20.0.1
pytz==2021.1
queuelib==1.5.0
requests==2.25.1
Scrapy==2.4.1
service-identity==18.1.0
six==1.15.0
soupsieve==2.2.1
sqlparse==0.4.1
tempora==4.0.1
Twisted==21.2.0
typing-extensions==3.7.4.3
urllib3==1.26.4
w3lib==1.22.0
zipp==3.4.1
zope.interface==5.3.0
